<section class="container">

  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="#">親子同玩</a></li>
      <li><a href="#">健身冒險</a></li>
      <li class="is-active"><a href="#" aria-current="page">放鬆身心</a></li>
    </ul>
  </nav>

  <div class="columns">
    <div class="column is-7">
      <figure class="image">
        <%= image_pack_tag 'switch/switch5.jpg' %>
      </figure>

      <article class="content">
        <h4>產品特色</h4>
        <p>
          可透過各式各樣的遊玩風格來玩、購買了要用Joy-Con的遊戲後可以立即遊玩的「Nintendo Switch」。
          細小輕巧、方便攜帶外出，手提模式專用的「Nintendo Switch Lite」。
          可配合你的生活風格而選擇。

          
        </p>
      </article>
    </div>

    <div class="column is-5">
      <h3 class="has-text-grey-light">親子同玩</h3>
      <h2 class="title is-4">Nintendo 任天堂 Switch電續加強藍紅主機</h2>
      <p class="has-text-primary is-size-4">NTD 12,000 NTD</p>
      <hr>
      <div class="column">
        <div class="column is-3 is-size-4 has-text-right">
          數量
        </div>
        <div class="column is-9 field is-grouped">
          <a href="#" class="button is-white is-medium">-</a>
          <input type="number" name="quantity" class="input is-medium has-text-centered" value="1">
          <a href="#" class="button is-white is-medium">+</a>
        </div>
      </div>
      <a href="#" class="button is-primary is-medium is-fullwidth">加到購物車</a>
    </div>
  </div>
</section>